body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.navbar {
  border-bottom: 1px solid rgba(231, 233, 252, 1);
}
.logo-1 {
  color: #4d5ae5;
  font-family: "Raleway";
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-weight: 700;
}

.logo-1 .logo-span1 {
  color: #2e2f42;
}
.logo-1 .logo-span2 {
  color: #f4f4fd;
}

.navbar-links {
  color: #2e2f42;
  list-style-type: none;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 2%;
}

.navbar-links:hover {
  color: #404bbf;
}
.contact {
  list-style-type: none;
}
.contact:hover {
  color: #404bbf;
}

.first-section {
  color: #ffffff;
  background-color: #2e2f42;
}

.main-title {
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
}
.order-button {
  color: #ffffff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
}

.order-button:hover {
  background-color: #404bbf;
}

ul {
  list-style-type: none;
}
.mission-section h3 {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
}

.mission-section p {
  line-height: 1.5;
  letter-spacing: 2%;
}

.team-section {
  background-color: #f4f4fd;
}

.team-section li {
  background-color: #ffffff;
}

.portfolio-section h2 {
  font-size: 36px;
  line-height: 1.5;
}

.footer {
  background-color: #2e2f42;
  text-decoration: none;
}
.footer p {
  color: #f4f4fd;
}
